version: "3"
networks:
    eventdriven:

services:
    rabbitmq:
        image: "rabbitmq"
        container_name: "rabbitmq"
        ports:
            - "5672:5672"
        networks:
            eventdriven:
        restart:
            "always"
    logger:
        build:
            context: .
            dockerfile: ./utility/logger/Dockerfile
        container_name: "logger"
        command: npm run start.dev
        networks:
            eventdriven:
        volumes:
            - ./utility/logger:/utility/logger
            - /utility/logger/node_modules
        restart:
            "always"
    dev_gateway:
        build:
            context: .
            dockerfile: ./utility/dev_gateway/Dockerfile
        container_name: "dev_gateway"
        command: npm run start.dev
        networks:
            eventdriven:
        volumes:
            - ./utility/dev_gateway:/utility/dev_gateway
            - /utility/dev_gateway/node_modules
        restart:
            "always"
        ports:
            - "8889:8889"
    dev_app:
        build:
            context: .
            dockerfile: ./utility/dev_app/Dockerfile
        container_name: "dev_app"
        command: npm start
        networks:
            eventdriven:
        volumes:
            - ./utility/dev_app:/utility/dev_app
            - /utility/dev_app/node_modules
        restart:
            "always"
        ports:
            - "8989:3000"
    simulation:
        build:
            context: .
            dockerfile: ./utility/simulation/Dockerfile
        container_name: "simulation"
        command: npm run start.dev
        networks:
            eventdriven:
        volumes:
            - ./utility/simulation:/utility/simulation
            - /utility/simulation/node_modules
        restart:
            "always"
    scooter_service:
        build:
            context: .
            dockerfile: ./services/scooter_service/Dockerfile
        container_name: "scooter_service"
        command: npm run start.dev
        networks:
            eventdriven:
        volumes:
            - ./services/scooter_service:/services/scooter_service
            - /services/scooter_service/node_modules
        restart:
            "always"
    location_service:
        build:
            context: .
            dockerfile: ./services/location_service/Dockerfile
        container_name: "location_service"
        command: npm run start.dev
        networks:
            eventdriven:
        volumes:
            - ./services/location_service:/services/location_service
            - /services/location_service/node_modules
        restart:
            "always"
    user_service:
        build:
            context: .
            dockerfile: ./services/user_service/Dockerfile
        container_name: "user_service"
        command: npm run start.dev
        networks:
            eventdriven:
        volumes:
            - ./services/user_service:/services/user_service
            - /services/user_service/node_modules
        restart:
            "always"