:root {
    --dark-blue: #206A61;
    --middle-blue: #228377;
    --light-blue: #2A9D8F;
    --lightest-blue: #84E1D6;
    --dark-red: #B42F19;
    --middle-red: #D0361D;
    --light-red: #FF4527;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: inline-grid;
    grid-template-columns: auto auto;
    margin: 0;
    width: 100vh;
}

.map {
    width: 89vw;
    max-height: 90vh;
}

.navbar {
    height: 100px;
    background-color: var(--middle-blue);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center
}

.sidemenu{
    height: calc(calc(90vh - 0) + 500px);
    padding-bottom: 400px;
    width: 100%;
    max-width: 250px;
    background-color: var(--middle-blue);
    text-align: center;
}

.user-profile-container {
    width: 800px;
    height: 800px;
    background-color: var(--lightest-blue);
    margin-top: 20px;
    border-radius: 10px;
}

.image-holder {
    background-color: white;
    margin: 10px;
    width: 130px;
    border-radius: 10px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

tr {
    max-height: 40px;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.sidemenu button {
    display:block
}

td button {
    width: 120px;
    height: 40px;
}

button {
    background-color: var(--dark-blue);
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 200px
}
button:hover {
    background-color: var(--light-blue);
}

.button-container{
    background-color: var(--dark-blue);
}
.button-container button{
    width: 200px;
    border-radius: 0;
}

a {
    text-decoration: none;
    color: white;
}

.small-btn {
    padding: 5px 10px;
}

.make-invoice-container {
    width: 500px;
    border: 1px solid var(--dark-blue);
    border-radius: 10px;
    background-color: var(--lightest-blue);
    display: grid;
    grid-template-columns: repeat(3, 162.66666px);
    grid-gap: 5px;
    margin: 5px;
    padding: 5px;
}

.make-invoice-container input {
    padding: 0.1rem;
}

.make-invoice-container button {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    width: 162.6666px;
    margin: 0;
}

hr{
    width: calc(100vw - 0);
    height: 5px;
    background-color: var(--middle-blue);
}

.hover-box {
    display: inline;
}

.info-box {
    display: none;
}

.hover-parent:hover .info-box {
    display: inline;
}